<?xml version="1.0" encoding="GBK"?>
<bean-mappings xmlns="https://github.com/agapple/mapping4java/schema/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://github.com/agapple/mapping4java/schema/mapping https://raw.github.com/agapple/mapping4java/master/src/main/resources/META-INF/mapping.xsd">
    
    <global-configurations debug="false" mappingNullValue="true" mappingEmptyStrings="true" trimStrings="true" />
    
    <convertors-configurations>
    	<convertor alias="common" class="commonClass" />
    </convertors-configurations>
    
    <class-alias-configurations>
    	<classAlias alias="commonClass" class="com.agapple.mapping.process.convertor.CommonAndCommonConvertor$CommonToCommon" />
    </class-alias-configurations>
    
    <function-class-configurations>
    	<functionClass name="customFunction" class="com.agapple.mapping.script.CustomFunctionClass" />
    </function-class-configurations>
    
    <bean-mapping name="nestConfig" srcClass="map" targetClass="java.util.HashMap" reversable="false" mappingNullValue="false" debug="true">
    	<field-mapping srcName="id" srcClass="java.lang.String" targetName="id" targetClass="java.lang.String" defaultValue="0" convertor="stringToDate" script="idFormat.format()" mappingNullValue="true" trimStrings="true"/>
    	<field-mapping srcName="name" srcLocatorClass="java.lang.String" targetName="id" targetClass="java.lang.String" targetLocatorClass="java.lang.String" defaultValue="0" convertor="stringToDate" script="idFormat.format()" mappingNullValue="true" trimStrings="true"/>
    </bean-mapping>
    
    <bean-mapping name="testConfig" srcClass="map" targetClass="java.util.HashMap" reversable="false" mappingNullValue="false" debug="true">
    	<field-mapping srcName="id" srcClass="java.lang.String" targetName="id" targetClass="java.lang.String" defaultValue="0" convertor="stringToDate" script="idFormat.format()" mappingNullValue="true" trimStrings="true"/>
    	<field-mapping srcName="name" srcLocatorClass="java.lang.String" targetName="id" targetClass="java.lang.String" targetLocatorClass="java.lang.String" defaultValue="0" convertor="stringToDate" script="idFormat.format()" mappingNullValue="true" trimStrings="true"/>
    	<field-mapping mapping="true" nest="nestConfig" srcName="model" targetName="model" mappingNullValue="true" trimStrings="true" />
    </bean-mapping>
</bean-mappings>